<!DOCTYPE html>
<html>
<head>
    <title>Home page</title>
    <link rel="stylesheet" href="stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="stylesheets/font-awesome.min.css">
    <link rel="stylesheet" href="stylesheets/style.css">
    <script src="javascripts/socket.io.js"></script>
    <script src="javascripts/angular.min.js"></script>
    <script src="javascripts/socket.handle.js"></script>
    <script src="javascripts/app_ng.js"></script>
</head>
<body>

<!--begin navbar and login dialog-->
<div class="blue-bg-nav">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <header class="header-tp">
                    <nav class="navbar navbar-default navbar-static-top">
                        <div class="container">
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                            </div>
                            <div id="navbar" class="navbar-collapse collapse">
                                <form class="form-inline">
                                    <a  href="#" class="btn-blu mrgn-top" data-toggle="modal" data-target="#at-helping">Help</a>
                                    <ul class="nav navbar-nav navbar-right bdr">
                                        <li><a href="#" data-toggle="modal" data-target="#at-login">Sign in</a></li>
                                        <li ><a href="#" data-toggle="modal" data-target="#at-signup">Sign Up</a></li>
                                    </ul>
                                </form>
                            </div><!--/.nav-collapse -->
                        </div>
                    </nav>
                </header>
                <section class="at-login-form">
                    <!-- MODAL LOGIN -->
                    <div class="modal fade" id="at-login" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                                </div>
                                <div class="modal-body">
                                    <button class="btn-fb"> <i class="fa fa-fw fa-facebook pull-left" aria-hidden="true"></i>
                                        Login with Facebook	</button> <br>
                                    <button class="btn-gp"> <i class="fa fa-fw fa-google-plus pull-left" aria-hidden="true"></i>
                                        Login with Google	</button> <br>
                                    <div class="signup-or-separator">
                                        <span class="h6 signup-or-separator--text">or</span>
                                        <hr>
                                    </div>
                                    <form>
                                        <div class="form-group">
                                            <input type="email" class="form-control-form " id="exampleInputEmaillog" placeholder="Email">
                                        </div>
                                        <div class="form-group">
                                            <input type="password" class="form-control-form " id="exampleInputPasswordpas" placeholder="Password">
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="checkbox">
                                                    <label>
                                                        <input type="checkbox"> Remember me
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="col-md-4 col-md-offset-2">
                                                <p class="frgt-pswd"   data-toggle="modal" data-dismiss="modal"  data-target="#at-reset-pswd">	Forgot Password ?</p>
                                            </div>
                                        </div>
                                        <button type="submit" class="btn-lgin">Login</button>
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <p class="ta-l">Don't have an account ? </p>
                                        </div>
                                        <div class="col-md-4 col-md-offset-2">
                                            <button class="btn-gst"  data-toggle="modal"  data-dismiss="modal" data-target="#at-signup" >Sign Up </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- MODAL LOGIN ENDS -->
                    <!-- MODAL SIGNUP -->
                    <div class="modal fade" id="at-signup" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                                </div>
                                <div class="modal-body">
                                    <button class="btn-fb"> <i class="fa fa-fw fa-facebook pull-left" aria-hidden="true"></i>
                                        Signup with Facebook	</button> <br>
                                    <button class="btn-gp"> <i class="fa fa-fw fa-google-plus pull-left" aria-hidden="true"></i>
                                        Signup with Google	</button> <br>
                                    <div class="signup-or-separator">
                                        <span class="h6 signup-or-separator--text">or</span>
                                        <hr>
                                    </div>
                                    <button type="submit" class="btn-lgin" data-toggle="modal"  data-dismiss="modal" data-target="#at-signup-filling">Signup with Email</button> <hr>
                                    <p>By signing up, I agree to Airbnb’s , Payments <a href="#">Terms of Service</a>, <a href="#">Privacy Policy</a>, <a href="#">Guest Refund Policy</a>, and <a href="#">Host Guarantee Terms</a>. </p>
                                </div>
                                <div class="modal-footer">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <p class="ta-l">Already a Member? </p>
                                        </div>
                                        <div class="col-md-4 col-md-offset-2">
                                            <button class="btn-gst"  data-toggle="modal"  data-dismiss="modal" data-target="#at-login">Login</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- MODAL SIGNUP FORM FILLING -->
                    <div class="modal fade" id="at-signup-filling" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                                </div>
                                <div class="modal-body">
                                    <p>Sign up with <a href="#">Facebook</a>  or <a href="#">Google</a></p>
                                    <div class="signup-or-separator">
                                        <span class="h6 signup-or-separator--text">or</span>
                                        <hr>
                                    </div>
                                    <form>
                                        <div class="form-group">
                                            <input type="text" class="form-control-form " id="exampleInputEmaillog" placeholder="Full Name">
                                        </div>
                                        <div class="form-group">
                                            <input type="email" class="form-control-form " id="exampleInputEmaillog" placeholder="Email">
                                        </div>
                                        <div class="form-group">
                                            <input type="password" class="form-control-form " id="exampleInputPasswordpas" placeholder="Password">
                                        </div>

                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="checkbox">
                                                    <label>
                                                        <input type="checkbox">
                                                        I’d like to receive coupons and inspiration
                                                    </label>
                                                </div>
                                                <p>By signing up, I agree to NextDoc , Payments <a href="#">Terms of Service</a>, <a href="#">Privacy Policy</a>, <a href="#">Guest Refund Policy</a>, and <a href="#">Host Guarantee Terms</a>. </p>
                                            </div>
                                        </div>
                                        <button type="submit" class="btn-lgin">Signup</button>
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <p class="ta-l">Already a Member? </p>
                                        </div>
                                        <div class="col-md-4 col-md-offset-2">
                                            <button class="btn-gst"  data-toggle="modal"  data-dismiss="modal" data-target="#at-login">Login</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- MODAL SIGNUP FORM FILLING -->
                    <!-- MODAL FORGOT PASSWORD -->
                    <div class="modal fade" id="at-reset-pswd" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                                </div>
                                <div class="modal-body">
                                    <form>
                                        <p>	Enter the email address associated with your account, and we’ll email you a link to reset your password. </p>
                                        <div class="form-group">

                                            <input type="email" class="form-control-form " id="exampleInputEmaillog" placeholder="Email">
                                        </div>
                                    </form>
                                </div>
                                <div class="modal-footer">
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- MODAL HELP -->
                    <div class="modal fade" id="at-helping" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                                </div>
                                <div class="modal-body">
                                    <form>
                                        <div class="form-group">
                                            <input type="text" class="form-control-form " id="exampleInputEmaillog" placeholder="Enter Your Searches ">
                                        </div>
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <div class="row">
                                        <button class="btn-gst"  data-toggle="modal"  data-dismiss="modal" >Send areset Link</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>
<!-- end navbar and login dialog -->

<!--doctor list-->
<div class="row">
    <div class="searchable-container">
        <div class="items col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-lg-6 col-md-offset-3 clearfix">
            <div class="info-block block-info clearfix">
                <div class="square-box pull-left">
                    <span class="glyphicon glyphicon-user glyphicon-lg"></span>
                </div>
                <h5>Company Name</h5>
                <h4>Name: Tyreese Burn</h4>
                <p>Title: Manager</p>
                <span>Phone: 555-555-5555</span>
                <span>Email: sample@company.com</span>
            </div>
        </div>
    </div>
</div>
<!--end doctor list-->
<script type="text/javascript" src="javascripts/jquery.min.js"></script>
<script src="javascripts/bootstrap.min.js"></script>
</body>
</html>
